# Environments 
.env 
.venv
django-env/
env/ 
venv/
ENV/ 
env.bak/ 
venv.bak/ 

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Python # 
*.py[cod] 
*$py.class

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# pyenv 
.python-version 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history